<!DOCTYPE html>
<html>
  <head>
    <title>Alpha Blog-about</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet/index.css">
  </head>
  <body>
    <header>
      <h1>About Me</h1>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li>About</li>
        <li>Contact Us</li>
      </ul>
    </header>
    
    <div id="container">
      

    </div>
  </body>
</html>
